JENKINS_ADMIN_PASSWORD=change-me-jenkins
SONAR_DB_PASSWORD=change-me-sonar-db
# Filled after first SonarQube login (My Account > Security > Generate token)
SONAR_TOKEN=
# GitHub PAT with contents:write on the repo (GitOps promotion)
GITHUB_USER=
GITHUB_TOKEN=
# https://nvd.nist.gov/developers/request-an-api-key
NVD_API_KEY=
REPO_URL=https://github.com/vinitpatil519/CloudForge.git
# getent group docker | cut -d: -f3   (Linux host)
DOCKER_GID=999
